<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="witness.ho1st"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:versionCode="2"
        android:versionName="1.1.14">

        <activity android:name="witness.host.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
